{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">

<div class="topnav">
    <a href="#">FISH MARTINEZ</a>
    {% if user.is_authenticated %}
  <a class="active" href="#">Hello...........{{user.username}}</a>
    <a style="float:right;" href="{% url 'credentials:logout' %}">   Logout</a>
      {% else %}
  <div class="topnav-right">
      <a href="{% url 'credentials:register' %}">Register</a>
      <a href="{% url 'credentials:login' %}">Login</a>
      {% endif %}
  </div>
</div>